---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import InfoSection from '../components/InfoSection.astro';
import WhatIsIt from '../components/WhatIsIt.astro';
import Benefits from '../components/Benefits.astro';
import VideoSection from '../components/VideoSection.astro';
import WhoWeWant from '../components/WhoWeWant.astro';
import Process from '../components/Process.astro';
import FinalCta from '../components/FinalCta.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <span id="top"></span>
  <Navbar />
  <main id="main">
    <Hero />
    <InfoSection />
    <WhatIsIt />
    <Benefits />
    <VideoSection />
    <WhoWeWant />
    <Process />
    <FinalCta />
  </main>
  <Footer />
</Layout>
